
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--theme-background);
  height: 100vh;
  margin-top: -10px;
}

/* TOP LEVEL CONTAINERS */
.SidebarAndTimeContainer {
  display: flex;
  margin: var(--page-boundary-margin);
}

.SidebarContainer {
  flex: 1;
  border-radius: var(--border-radius);
  text-align: center;
  /* margin: var(--container-margin); */
  /* background: grey; */
  background: var(--theme-sidebar-container);
}

.TimeContainer {
  display: flex;
  flex: 9;
}

.TimeContainer--year, .TimeContainer--month, .TimeContainer--week, .TimeContainer--day {
  flex: 1;
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
}

/* TIMEBLOCKS */
.TimeBlock {
  border-radius: var(--border-radius);
  border: 2px solid var(--theme-border-color);
  background-color: var(--theme-timecontainer);
  text-align: center; 
  margin-bottom: var(--timeblock-margin);
  position: relative;
}

.TimeBlock__Title input{
  text-align: center;
  font-size: xx-large;
  background: transparent;
  border: none;
  padding-top: var(--timeblock-title-padding);
  padding-bottom: var(--timeblock-title-padding);
}

/* CATEGORY CARDS */
.CategoryCard {
  /* width: 90%; */
  border-radius: var(--border-radius);
  border: 2px solid var(--theme-border-color);
  background-color: var(--theme-category-container);
  text-align: center;
  /* margin: auto; */
  margin-left:  var(--container-iconImages);
  margin-right:  var(--container-iconImages);
  position: relative;
  margin-bottom: var(--container-margin);
}

/* ITEM CONTAINER */

.ItemContainer {
  /* display: flex; */
  border-bottom: 1px dotted black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ItemContainer::after {
  /* display: flex; */
  clear: both;
}

.ItemContainer:first-of-type {
  border-top: 1px dotted black;
}

.ItemContainer__Input {
  /* flex: 9; */
  /* border-radius: var(--border-radius); */
  background-color: transparent;
  border: none;
  resize: none;
  width: 92%;
  /* float: left; */
}

.ItemContainer__DeleteButton {
  /* flex: 1; */
  align-self: flex-start;
  width: 5%;
  float: left;
  vertical-align: middle;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
}

/* BUTTONS */

button {
  background-color: var(--theme-button-regular);
  border-color:var(--theme-button-border-color);
  border-radius: var(--border-radius);
}

button:hover {
  background-color: var(--theme-button-hover);
}

.Button__AddTimeContainer {
  width: 100%;
  height: var(--button-height);
}

.Button__AddCategoryItem {
  margin: var(--category-card-margin);
}

.Button__DeleteIcon {
  height: 16px;
}

.themeButton {
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
  border: 2px solid var(--theme-border-color);
}

/* ICONS */
.container__iconImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--theme-category-selector);
  border: 2px solid var(--theme-border-color);
  margin-left: var(--container-iconImages);
  margin-right: var(--container-iconImages);
  /* margin:auto; */
  border-radius: var(--border-radius);
  margin-bottom: var(--container-margin);

}

.iconImage {
  flex: 1 0 30%;
  margin: 5px;
  padding-top: var(--iconimage-padding);
}

.iconImage img:hover {
  cursor: pointer;
}

/* DELETE BUTTONS */
.DeleteTimeblock {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

.DeleteTimeBlock__CategoryCard {
  width: 24px;
}

/* TEXT AND HEADINGS*/

h3 {
  margin: var(--container-margin);
};

.headingHelper {
  margin-bottom: var(--heading-helper);
}


